<p id="notice"><%= notice %></p>

<!--<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Ponto</h1>
      <td data-field="id" data-align="right">ID: <%= @point.id %></td>
      <td data-field="id" data-align="right">X: <%= @point.x %></td>
      <td data-field="id" data-align="right">Y: <%= @point.y %></td>
      <td data-field="id" data-align="right">PHOTO_ID: <%= @point.photo_id %></td>
    </div>
  </div>
</div>

<p id="notice"><%= notice %></p> -->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Ponto criado</h1>
      <%= link_to 'Edit', edit_point_path(@point) %> |
      <%= link_to 'Back', points_path %>
    </div>
  </div>


</div> <!--/.class-->
