<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Editar uma sala</h1>
    </div>
  </div><!--/.row-->

<script>
  $( document ).ready(function() {
    $('.menu li').removeClass('active');
    $('.menu .espacos').addClass('active');
  });
</script>


  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-12">
            <%= form_for @room, :url => {:action => "update", :controller => "rooms"} do |f| %>
                <h3>Dados gerais</h3>
                <div class="form-group">
                  <!--<label>Room code</label>-->
                  <%= f.hidden_field :code , class:"form-control" %>
                </div>
                <div class="form-group">
                  <label>Caminho modelo</label>
                  <%= f.text_field :model_path , class:"form-control" %>
                </div>
                <div class="form-group">
                  <label>Caminho textura</label>
                  <%= f.text_field :texture_path , class:"form-control" %>
                </div>
                <div class="form-group">
                  <label>Tansformações da animação </label>
                  <%= f.text_field :animation , class:"form-control" %>
                </div>
                <div class="form-group">
                  <label>Beacon UUID</label>
                  <%= f.text_field :beacon_uuid , class:"form-control" %>
                </div>
                <div class="form-group">
                  <label>Beacon principal</label>
                  <%= f.text_field :beacon_major , class:"form-control" %>
                </div>
                <div class="form-group">
                  <label>Beacon secundário</label>
                  <%= f.text_field :beacon_minor , class:"form-control" %>
                </div>
                <div class="form-group">
                  <label>Próximo espaço</label>
                  <br/>
                  <%= f.collection_select(:next_room, Room.all, :code, :code )  %>
                </div>
                <br/>
                <br/>
                <h3>Dados categorizadores</h3>
                <%= f.fields_for :room_translations do |rt| %>
                    <div class="form-group">
                      <label>Nome do espaço</label>
                      <%= rt.text_field :name , class:"form-control" %>
                    </div>
                    <div class="form-group">
                      <label>Descrição</label>
                      <%= rt.text_area :description , class:"form-control" %>
                    </div>
                    <div class="form-group">
                      <label>Idioma</label>
                      <br/>
                      <%= rt.collection_select(:language_id, Language.all, :id, :name )  %>
                    </div>
                    <br/>
                    <br/>
                <% end %>

                <%= f.submit "Enviar", class:"btn btn-primary", style:"margin: 5px;" %><%= link_to 'Voltar', rooms_path, class:"btn btn-default"%>
            <% end %>

          </div>
        </div>
      </div>
    </div><!-- /.col-->
  </div><!-- /.row -->
</div><!--/.main-->
