
<% provide(:title, 'All rooms') %>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Todas as salas</h1>
    </div>
  </div><!--/.row-->


  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <table  class="table table-hover">
            <thead>
            <tr>
              <th data-field="id" data-align="right">Código da sala</th>
              <th data-field="id" data-align="right">Show</th>
              <th data-field="id" data-align="right">Edit</th>
              <th data-field="id" data-align="right">Destroy</th>
              <th data-field="id" data-align="right">Adicionar etiqueta</th>
            </tr>

            </thead>
            <% @rooms.each do |room| %>
                <tr>
                  <td data-field="id" data-align="right"><%= link_to room.code, room %></td>
                  <td><%= link_to 'Show', room %></td>
                  <td><%= link_to 'Edit', edit_room_path(room) %></td>
                  <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
            <% end %>
          </table>
          <%= link_to 'New Room', new_room_path %>
        </div>
      </div>
    </div>
  </div>
</div>
